<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilly Pacheco</title>
    <link rel="stylesheet" href="./projects.css">
    <script src="https://kit.fontawesome.com/6f6abf0972.js"
      crossorigin="anonymous"></script>
    <script type="module" src="./projects.js"></script>
  </head>
  <body>
    <header>
      <div id="header_section">
        <h1 id="title_header"> Estudante de T.I.</h1>
      </div>
      <div id="header_btn">
        <button class="button" onclick="window.location.href='./index.html'">
          <h1>HOME</h1>
          <i class="fa-solid fa-house"></i>
        </button>
        <button class="button" onclick="window.location.href= './projects.html'">
          <h1>PROJETOS</h1>
          <i class="fa-solid fa-folder"></i>
        </button>
        <button class="button" onclick="window.location.href= './formation.html'">
          <h1>FORMAÇÃO</h1>
          <i class="fa-solid fa-graduation-cap"></i>
        </button>
      </div>
    </header>

    <main>
      <section id="cards">
      </section>
    </main>
  </body>
</html>