header {
    width: 100%;
    height: 12%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#header_section {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}

#logo {

    width: auto;
    height: 100%;


}

#title_header {
    font-size: 2vw;
    margin: 0 4%;

    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* #header_btns {
    width: 36%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


} */

.header_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    background-color: #94B8CB;
    color: white;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 100vh;
}

/* inspired form gumroad website */
.button {
    width: auto;
    height: 100%;

    font-size: 0.8vh;

    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 1.5vh 2vw;
    background: var(--bg);
    transition: all 300ms ease-in-out;
}

.button i {
    display: none;
}

.button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);

}

.button:active {
    transform: translate(0);
    box-shadow: none;
}

.header-btn:active {
    transform: scale(0.9);
}

.mobile_icons {
    display: none;
}

@media (max-width: 820px) {
    header {
        height: 8%;
        background-color: red
    }

    #header_section {
        width: 58%;
    }

    #title_header {
        font-size: 2.8vw;
    }

    .header_btn {
        width: 10%;
        height: 10%;
        font-size: 1.8vw;

    }

    .button {
        width: 32%;
        height: 100%;
        padding: 1.6vh 2vw;
        font-size: 0.6vh;
    }
}

@media (max-width: 480px) {
    header {
        height: 8%;
        background-color: red;
    }

    #header_section {
        width: 50%;
    }

    #title_header {
        font-size: 2.6vw;

    }
    .button{
        width: 30%;
        height: 100%;
        padding: 1.2vh 2.4vw;
        font-size: 1.2vh;
    }
    .button i {
        display: block;
    }

    .button h1 {
        display: none;
    }
}