@import url(./../index/header/header.css);
@import url(./../vars.css);
body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(/assets/img/fundo_gpt.png);
    /* background-image: linear-gradient(43deg, #8d89a9 0%, #9a92b5 22%, #542554 49%, #9c7eab 75%, #a589b5 100%); */

}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards{
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    gap: 2vw;
}

.card{
    width: 100%;
    height: 25vh;

    background-color: red;
}