@import url(./../default.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Judson:ital,wght@0,400;0,700;1,400&family=Julius+Sans+One&display=swap');
@import url(./footer.css);
@import url(./header/header.css);
@import url(./main/main.css);
@import url(./../vars.css);


body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./img/fundo_gpt.png);
    /* background-image: linear-gradient(43deg, #8d89a9 0%, #9a92b5 22%, #542554 49%, #9c7eab 75%, #a589b5 100%); */

}

