#infos{
    width: 40%;
    height: 82%;
    font-size: 0.8vw;

   
}
#first_name{
    font-size: 3.8vw;
    margin: 0 18%;
    color: white;

    
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
}
#last_name{
    font-size: 3.8vw;
    margin: 0 20%;

    color: white;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
}
#description{
    font-size: 1.4vw;
    margin: 3%;

    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}