
#animation{
    
    position: absolute;
    top: 35vh;
    left: 25vw;

    animation: 10s linear girar infinite;
}
@keyframes girar{
    5%{
      transform: rotate(0.1turn);
      transform: translateY(0);
      transform: translateY(-20px);
      top: 30vh;
      left: 15vw;
    }
    15%{
     transform: rotate(0.5turn);
      transform: translateY(0);
      transform: translateY(-20px);
      top: 30vh;
      left: 35vw;
    }
    30%{
    transform: rotate(0.3turn);
    transform: translateY(0);
    transform: translateY(-20px);
    top: 30vh;
    left:30vw;
    }
    50%{
     transform: rotate(1turn);
     transform: translateY(0);
      transform: translateY(-20px);
     top: 45vh;
     left:45vw;
    }
}
#animation:hover {
    animation-play-state: paused;
}

.loader {
    height: 50px;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .dot-two {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 4px;
    color: rgb(255, 255, 255);
  }
  
  .dot-one,
  .dot-three {
    background-color: black;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    animation: flap-wings 1s infinite ease-in-out;
    clip-path: polygon(100% 50%, 50% 30%, 0 50%, 0 0, 47% 0, 100% 0);
  }
  
  .dot-two {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    animation: flap-wings 1s infinite ease-in-out;
    animation-delay: 0.1s;
  }
  
  .dot-two::before,
  .dot-two::after {
    content: "";
    position: absolute;
    background-color: black;
  }
  
  .dot-two::before {
    height: 20px;
    width: 10px;
    bottom: 20px;
    left: 1px;
    border-radius: 50% 50% 0 0;
    transform: rotate(-20deg);
  }
  
  .dot-two::after {
    height: 20px;
    width: 10px;
    bottom: 20px;
    left: 19px;
    transform: rotate(20deg);
    border-radius: 50% 50% 0 0;
  }

  
  .dot-one::before,
  .dot-three::before {
    height: 30px;
    width: 20px;
    top: 10px;
    left: 0;
   /*chnage this if u need dark mode to #212121 if need light mode #e8e8e8*/
    border-radius: 50% 50% 0 0;
  }
  
  @keyframes flap-wings {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  }