@import url(./../main/infos_main.css);
@import url(./../main/main_animation.css);
main {
    width: 100%;
    height: 76%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
#img_logo{
    width: auto;
    height: 90%;
    border-radius: 10%;
    margin: 5%
}
@media (max-width: 820px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    #img_logo {
        height: 50%;
        max-width: 250px;
        
        margin: 5% 0 0 0;
    }

    #infos {
        width: 98%;
        height: auto;
        font-size: 5vw;
    }

    #first_name, #last_name {
        font-size: 6vw;
    }

    #description {
        font-size: 2.8vw;
    }
}

@media (max-width: 480px) {

    #img_logo {
        height: 36%;
        max-width: 180px;
       
    }

    #infos {
        width: 100%;
        font-size: 4vw;
    }

    #first_name, #last_name {
        font-size: 8vw;
    }

    #description {
        font-size: 3.8vw;
        text-align: left;
    }

    #animation{
       display: none;
    }
}