@import url(./button_header.css);
@import url(./section_header.css);
header {
    width: 100%;
    height: 12%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

@media (max-width: 820px) {
    header {
        height: 8%;
        background-color: red
    }
  
}

@media (max-width: 480px) {
    header {
        height: 8%;
        background-color: red;
    }
}